.main-logo {
    width: 60%;
    margin: auto;
}

@media (max-width: 990px) {
    .main-logo {
        width: 100%;
        margin: auto;
        padding: 16px 16px 16px 16px;
    }
}

.login-page-background {
    --background: url("@/assets/images/greenBackground.png") 0 0/100% 100% no-repeat;

}

ion-input.custom {
    --color: #fff;
    --placeholder-color: #ddd;
    --border-radius: 50px !important;
    --padding-left: 21px !important;
    --padding-right: 21px;
    --background: rgba(255, 255, 255, 0.3);
    /* --opacity: 0.3; */
    /* --border-color: rgba(255,255,255,0.3); */
    --outline: none;
}

ion-input.customErr {
    --color: #fff;
    --placeholder-color: #ddd;
    --border-radius: 50px !important;
    --padding-left: 21px;
    --padding-right: 21px;
    --background: rgba(255, 255, 255, 0.3);
    /* --opacity: 0.3; */
    /* --border-color: rgba(255,255,255,0.3); */
    --outline: none;
}

ion-input.customProfile {
    --color: var(--ion-color-primary-contrast);
    --placeholder-color: var(--ion-color-primary-contrast);
    ;
    --border-radius: 50px !important;
    --padding-left: 50px !important;
    --padding-right: 21px;
    --background: var(--ion-color-secondary);
    /* --opacity: 0.3; */
    /* --border-color: rgba(255,255,255,0.3); */
    --outline: none;
}
ion-input.custom-filter {
    --color: var(--ion-color-dark);
    --placeholder-color: var(--ion-color-dark);
    ;
    --border-radius: 50px !important;
    --padding-left: 50px !important;
    --padding-right: 21px;
    --background: var(--ion-color-light);
    /* --opacity: 0.3; */
    /* --border-color: rgba(255,255,255,0.3); */
    --outline: none;
}

.labelClass {
    padding: 15px;
    font-size: large;
    font-weight: 800;
    color: rgb(251, 249, 249);
}

.WelcomeMessage {
    color: rgb(244, 237, 237);
    font-weight: 600;
    font-size: 40px;
    padding: 10px;
    padding-bottom: 70px;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 25px;
}

.events-container>div {
    flex: 33%;
}

.labelClassProfile {
    padding: 15px;
    font-size: large;
    font-weight: 800;
    color: var(--ion-color-primary);
}

.login-form {
    max-width: 500px;
    width: 100%;

}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}
.ellipsis-1{
    word-break: break-all;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 600px) {
    
    .WelcomeMessage {
        padding-bottom: 50px;
    }

    .interest {
        text-align: center;
    }
}

.input-fill-outline.sc-ion-input-md-h .input-outline-container.sc-ion-input-md {
    display: none;
}

/* .input-fill-outline.sc-ion-input-md-h .input-wrapper.sc-ion-input-md {
padding: 15px;
} */
.toast-custom-class {
    --color: #ffffff;
    --max-width: fit-content;
}

.toast-wrapper {
    inset-inline-start: auto !important;
}

/* ------------------ */
article {
    position: relative;
    width: 150px;
    height: 28px;
    margin: 5px;
    float: left;
    border: 2px solid var(--ion-color-primary);
    /* box-sizing: border-box; */
    border-radius: 10%;
    /* padding: 10px; */
    /* color: var(--ion-color-primary); */
    font-size: small;
    font-weight: 700;
    background-color: var(--ion-color-secondary);
}

ion-chip div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: 0.5s ease;
    border-radius: 10%;
    /* color: white; */
    /* padding: 10px; */
}

ion-chip input {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"]:checked~div {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin: 0%;
        width: 100%;
    }
}

.ion-color .dateTimeClass :host button {
    width: 100%;
    text-align: left;
    background-color: #3a906a;
    padding: 15px;
    border-radius: 25px;
}

/* ------------------- */

.dateTimeField {
    --background: var(--ion-color-secondary);
}

.commonCardClass {
    --background: #ccc;
}

.commonCardText {
    color: var(--ion-color-dark);
    font-size: larger;
    padding-left: 5px;
}

.commonCardmonth {
    color: var(--ion-color-dark);
    font-size: small;
    padding-left: 10px;
}

ion-tab-button {

    font-size: large
}

ion-tab-button.active {
    --color: white;
    --background: #3a906a;
    font-size: large;

}

.sc-ion-input-md-h:not(.legacy-input) {
    min-height: 40px;
}

.interest ion-chip.active {
    --color: var(--ion-color-light);
    --background: var(--ion-color-primary);
}

ion-tab-button {

    border-radius: 23px;
}

.modal-wrapper {
    transform: translate3d(0px, 40px, 0px);
    opacity: 0.01;
    width: 366px !important;
    height: 393px !important;
}

.ion-tab-button-class {
    width: 100%;
    /* background-color: var(--ion-color-secondary); */
}
.ion-tab-button-class ion-label{
    color:var(--ion-color-primary)
}
.ion-tab-button-class.active ion-label{
  color:var(--ion-color-light)

}
.ec-event-time{
    display: none;
}
.event-link{
    text-decoration: none;
    color: var(--ion-color-light);
}
.event-link:hover{
    text-decoration: underline;
    color: var(--ion-color-light);
}
.ec-event,.ec-event-body{
    background-color: var(--ion-color-secondary) !important;
    border-color: var(--ion-color-secondary);
}
.native-input.sc-ion-input-ios{
    padding-left: 17px;
}
ion-select.filter-class {
    --color: var(--ion-color-dark);
    --placeholder-color: var(--ion-color-dark);
    border-radius: 50px !important;
    background-color: var(--ion-color-light);
    min-height: 40px;
}
    
    ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    background: var(--ion-color-primary);
    color: #fff;
    
    border-radius: 50%;
    transform: scale(1.25);
    
    top: -25px;
    
    min-width: 40px;
    height: 30px;
    transition: transform 120ms ease, background 120ms ease;
    }
    
    ion-range.availability::part(pin)::before {
    content: none;
    }
    
    ion-range.availability::part(knob) {
    background: var(--ion-color-primary);
    }
    
    ion-range.availability::part(bar) {
    background: var(--ion-color-light);
    }
    
    ion-range.availability::part(bar-active) {
    background: var(--ion-color-primary);
    }

.event-list-header-search{
    background-color: rgba(0,0,0,0.1);
    padding: 3px;
    position: fixed;
    top: 0;
    z-index: 10;
}
    